<!-- iru -->
<div class="project-box fade-in">
  <!-- iru img -->
  <div class="project-image">
    <div id="iruCarouselControls" class="carousel slide carousel-container" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active item carousel-image">
          <img src="assets/images/iru-cover.jpg" class="project-img d-block w-100" alt="iru slide 1">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-features.jpg" class="project-img d-block w-100" alt="iru slide 2">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-map.jpg" class="project-img d-block w-100" alt="iru slide 3">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-org.jpg" class="project-img d-block w-100" alt="iru slide 4">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-donation.jpg" class="project-img d-block w-100" alt="iru slide 5">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-confirmation.jpg" class="project-img d-block w-100" alt="iru slide 6">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/iru-user.jpg" class="project-img d-block w-100" alt="iru slide 7">
        </div>
      </div>
      <a class="carousel-control-prev" href="#iruCarouselControls" role="button" data-slide="prev">
        <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
            <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
          </svg>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#iruCarouselControls" role="button" data-slide="next">
        <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
            <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
          </svg></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- divider -->
  <div class="gap">
  </div>
  <!-- iru info -->
  <div class="project-info">
    <h3>iru</h3>
    <p>"iru" is an web application that provides non-profit organizations to list thier needs easily by raising three types of projects (crowd funding, donations and volunteers).<br/>
      By implementing strip, individuals can make the online payment directly through our platform without complicated process. They are also able to find projects on the map and contribute to a cause near them. </p>
    <div class="tech-icons">
      <%= image_tag 'html5-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'css3-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'ruby-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'javascript-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'github-original.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'figma-logo.svg', class: 'tech-icon icon-adjustment' %>
    </div>
    <a class="view-live-btn" href="http://www.iru.world/" target="_blank">
      <span> View Site</span>
    </a><!--
    --><a class="view-code-btn" href="https://github.com/SeigoJinbo/iru" target="_blank">
      <span> View Code</span>
    </a><!--
    --><a class="view-code-btn" href="http://www.youtube.com/watch?v=38pqCXc-lrY&t=8m50s" target="_blank">
      <span>View Demo</span>
    </a>
  </div>
</div>
<div class="divider"></div>
<!-- foxy-beats -->
<div class="project-box fade-in">
  <!-- foxy-beats info -->
  <div class="project-info">
    <h3>Foxy Beats</h3>
    <p>"Foxy Beats" was a 1 week group project during my time at Le Wagon Tokyo. The concept of the app was to create an airbnb-esc, marketplace web-app.<br/>
      We decided to build an online vinyl rental service and go for the 70s retro design. The idea is to try out the vinyl before you committed to it. Share your taste and explore more.</p>
    <div class="tech-icons">
      <%= image_tag 'html5-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'css3-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'ruby-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'javascript-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'github-original.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'figma-logo.svg', class: 'tech-icon icon-adjustment' %>
    </div>
    <a class="view-live-btn" href="http://foxy-beats.herokuapp.com/" target="_blank">
      <span>View Site</span>
    </a>
    <a class="view-code-btn" href="https://github.com/SeigoJinbo/foxy_beats" target="_blank" rel="nofollow noopener">
      <span>View Code</span>
    </a>
  </div>
  <!-- divider -->
  <div class="gap">
  </div>
  <!-- foxy-beats img -->
  <div class="project-image">
    <div id="foxyBeatsCarouselControls" class="carousel slide carousel-container" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active item carousel-image">
          <img src="assets/images/foxy-cover.jpg" class="project-img d-block w-100" alt="foxy-beats slide 1">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/foxy-index.jpg" class="project-img d-block w-100" alt="foxy-beats slide 2">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/foxy-show.jpg" class="project-img d-block w-100" alt="foxy-beats slide 3">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/foxy-add.jpg" class="project-img d-block w-100" alt="foxy-beats slide 4">
        </div>
      </div>
      <a class="carousel-control-prev" href="#foxyBeatsCarouselControls" role="button" data-slide="prev">
        <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
            <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
          </svg>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#foxyBeatsCarouselControls" role="button" data-slide="next">
        <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
            <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
          </svg></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="divider"></div>
<!-- neon-cocktails -->
<div class="project-box fade-in">
  <!-- neon-cocktails img -->
  <div class="project-image">
    <div id="neonCocktailsCarouselControls" class="carousel slide carousel-container" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active item carousel-image">
          <img src="assets/images/neon-cover.jpg" class="project-img d-block w-100" alt="neon-cocktails slide 1">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/neon-index.jpg" class="project-img d-block w-100" alt="neon-cocktails slide 2">
        </div>
        <div class="carousel-item item carousel-image">
          <img src="assets/images/neon-show.jpg" class="project-img d-block w-100" alt="neon-cocktails slide 3">
        </div>
      </div>
      <a class="carousel-control-prev" href="#neonCocktailsCarouselControls" role="button" data-slide="prev">
        <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
            <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
          </svg>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#neonCocktailsCarouselControls" role="button" data-slide="next">
        <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
            <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
          </svg></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- divider -->
  <div class="gap">
  </div>
  <!-- neon-cocktails info -->
  <div class="project-info">
    <h3>Neon Cocktails</h3>
    <p>"Neon Cocktails" is the first app I have ever bulit.<br/>
      In this project, I used basic CRUD and played with the colors a lot to discover all kinda possibilities with css. </p>
    <div class="tech-icons">
      <%= image_tag 'html5-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'css3-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'ruby-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'github-original.svg', class: 'tech-icon icon-adjustment' %>
    </div>
    <a class="view-live-btn" href="https://neon-cocktails.herokuapp.com/" target="_blank">
      <span>View Site</span>
    </a>
    <a class="view-code-btn" href="https://github.com/yupingkuei/neon-cocktail" target="_blank" rel="nofollow noopener">
      <span>View Code</span>
    </a>
  </div>
</div>
<div class="divider"></div>
<!-- liar's dice -->
<div class="project-box fade-in">
  <!-- liar's dice info -->
  <div class="project-info">
    <h3>54 Liar</h3>
    <p>Wanna play liar's dice game with friends but you didn't bring any dice to the party? This is absolute the app you are looking for!<br/>
      "54 Liar" supports up to maximum 5 players. Let's dice!</p>
    <div class="tech-icons">
      <%= image_tag 'html5-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'css3-plain-wordmark.svg', class: 'tech-icon' %>
      <%= image_tag 'ruby-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'javascript-plain.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'github-original.svg', class: 'tech-icon icon-adjustment' %>
      <%= image_tag 'figma-logo.svg', class: 'tech-icon icon-adjustment' %>
    </div>
    <a class="view-live-btn" href="http://liars-dice-game.herokuapp.com/" target="_blank">
      <span>View Site</span>
    </a>
    <a class="view-code-btn" href="https://github.com/SeigoJinbo/dice-game" target="_blank" rel="nofollow noopener">
      <span>View Code</span>
    </a>
  </div>
  <!-- divider -->
  <div class="gap">
  </div>
  <!-- liar's dice img -->
  <div class="device-image">
    <div class="device-box">
      <div class="device device-iphone-x device-liars-dice-index">
        <div class="device-frame">
          <video class="device-content device-background-index" muted="muted" autoplay="" loop="">
            <source src="assets/images/neon-show.png" type="video/mp4">
          </video>
        </div>
        <div class="device-stripe"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
      <div class="device device-iphone-x">
        <div class="device-frame">
          <video class="device-content device-background-show" muted="muted" autoplay="" loop="">
            <source src="assets/images/neon-show.png" type="video/mp4">
          </video>
        </div>
        <div class="device-stripe"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
  </div>
</div>
